#Header {
    background-color: #1f2937;
    width:100%;
}
.Navigation-Bar {
    flex: 1 1 1;
    align-content: space-between;
    align-items: center;
}
#Header-Logo {
    fill: #f9faf8;
}
#Header-Link-One {
    display: flex;
    flex: 1 1 1;
    align-items: center;
    align-content: space-between;
    width:100%;
}
img {
    width: 274px;
    height: 274px;
}
.btn {
    background-color: #3882f6;
}
.Additional-Information {
    display: flex;
    flex:1 1 1;
    align-content: center;
}
.Image-Description {
    align-content: center;
    margin: 20px;
}
h1 {
    color: #f9faf8;
    size: 48px;
    font-weight: bolder;
}
h2 {
    size: 18px;
    color: #e5e7eb;
}
a {
    size: 18px;
    color: #e5e7eb;
}
.h3 {
    size: 36px;
    color: #1f2937;
    font-weight: bolder;
}