#Header {
    background-color: #1f2937;
}
.Navigation-Bar {
    flex: 1 1 1;
    align-content: space-evenly;
}
#Header-Logo {
    width: 50%;
    fill: #f9faf8;
}
img {
    max-inline-size: 50%;
}
button {
    color: #3882f6;
}
h2 {
    size: 18px;
    color: #e5e7eb;
}
a {
    size: 18px;
    color: #e5e7eb;
}