#Header {
    background-color: #1f2937;
    width:100%;
}
#Navigation {
    display: flex;
    flex: 1 1 1;
    align-items: center;
    justify-content: space-between;
}
#Header-Logo {
    fill: #f9faf8;
}
#Header-Link-One {
    display: flex;
    flex: 1 1 1;
    align-items: center;
    justify-content: space-between;
}
#info {
    margin-left: 30px;
}
img {
    width: 274px;
    height: 274px;
    margin-right: 30px;
}
.btn {
    background-color: #3882f6;
    color: #e5e7eb;
}
.Additional-Information {
    display: flex;
    flex:1 1 1;
    align-content:center ;
    justify-content: center;
}
#Quote-Div {
    background-color: #e5e7eb;
    height: 20vh;
    text-align: center;
    align-items: center;
    padding-top: 10vh;
}
.Image-Description {
    align-content: center;
    margin: 20px;
}
h1 {
    color: #f9faf8;
    size: 48px;
    font-weight: bolder;
}
h2 {
    size: 18px;
    color: #e5e7eb;
}
a {
    size: 18px;
    color: #e5e7eb;
}
h3 {
    size: 36px;
    color: #1f2937;
}
#Head-Middle {
    font-weight: bolder;
    text-align: center;
}
.Quote-Text {
    font-weight: lighter;
    font-style: italic;
}
#Call-Head-Text {
    size: 36px;
    color: #f9faf8;
}
#Call-Container {
    border: white;
    border-style: solid;
    border-width: 10vh 7vw;
    background-color: #3882f6;
    display: flex;
    flex: 1 1 1;
    align-items: center;
    justify-content: space-around;
}
footer {
    background-color: #1f2937;
    text-align: center;
}